
<div class="modal-header">
  <h3>Crear Escuela</h3>
</div>
<div class="modal-body">
  <form name="createForm" novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label for="name" class="control-label">Nombre</label>
      <div class="controls">
        <input type="text" id="name" ng-model="school.name" required="required" placeholder="Nombre de la Escuela" class="input-xlarge"/>
      </div>
    </div>
    <div class="control-group">
      <label for="www" class="control-label">www</label>
      <div class="controls">
        <input type="url" id="www" ng-model="school.www" placeholder="Dirección de Internet" class="input-xlarge"/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="cancel()" class="btn">Cerrar</button>
  <button ng-click="submit()" ng-disabled="createForm.$invalid" class="btn btn-primary"><i class="icon-ok icon-white"></i> Guardar</button>
</div>